alias cpu='sysctl -n machdep.cpu.brand_string'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip="ipconfig getifaddr en0"
alias lock='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
alias uptime='grc uptime'
alias pyc='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf'
alias npmls='npm ls -g --depth 0'
alias cdg='cd ~/github'
alias ews='ssh tk2@linux-a3.ews.illinois.edu'
alias lsc='ls'
alias cdd='cd ~/Documents'
alias mkvirtualenv='mkvirtualenv --no-site-packages'
alias dclean='docker system prune --volumes'
alias dcstop='docker-compose stop'
alias dcup='docker-compose up'
alias nah='git reset --hard; git clean -df'
alias squash='git rebase -i HEAD~2'
alias rebase='git rebase origin/master'
alias cleanbranches='git remote prune origin'
alias cleanlocalbranches='git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done'

# start and run bash of a given docker image
function drunbash() {
    docker run --rm -it "$1" bash
}
alias cd461="cd ~/Documents/uiuc/cs461/tk2"

# make new directory and change into it
mkd() { mkdir -p "$@" && cd "$@"; }

